<!-- MAIN CONTENT -->

  <div *ngIf="show;else othercontent" id="content">

    <div class="row">
      <!-- <sa-big-breadcrumbs [items]="['Load Flow Calculation']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs> -->
      <sa-big-breadcrumbs [items]="['Load Flow Calculation']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      <!-- <sa-stats></sa-stats> -->
    </div>

    <load-flow-parameters-form (change) = "executeLoadFlow()" ></load-flow-parameters-form>
    <button *ngIf="showButton" class="custom-file-download" id="file-download" (click)="export()" > <i class="fa fa-cloud-download"></i> Export Results (Excel) </button>
    <!-- widget grid -->
    <sa-widgets-grid>


      <div class="row">
        <article class="col-sm-12">
          <div class="table-responsive" style="width: 100%; height: 500px;">
            <ag-grid-angular #agGrid style="width: 100%;height: 50%;" class="ag-fresh" [gridOptions]="gridOptionsBusbars" [rowData]="rowDataBusbars"  >
              
              <!--  [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" -->
            </ag-grid-angular>

            

            <ag-grid-angular #agGrid style="width: 100%;height: 50%;" class="ag-fresh" [gridOptions]="gridOptionsBranches" [rowData]="rowDataBranches" >
            
            </ag-grid-angular>
          
          </div>

          <!--
          <sa-widget [editbutton]="false" color="darken">
            <header>
              <span class="widget-icon">
                <i class="fa fa-table"></i>
              </span>

              <h2>Load Flow results</h2>
            </header>
            <div>
              <div class="widget-body no-padding">
                 <alert type="info" class="no-margin fade in" dismisser=""> 
                <i class="fa-fw fa fa-info"></i>
                Adds zebra-striping to table row within <code>&lt;table&gt;</code> by adding the <code>.table-striped</code>
                with the base class
              </alert>
           
            

              </div>
            </div>
          </sa-widget>
           -->
        </article>


      </div>

    </sa-widgets-grid>
  </div>

 <ng-template #othercontent>Please open or create project in the Home tab first</ng-template>