.column-group-g {
    background-color: #1b6d85;
}
.column-group-c {
    background-color: #67b168;
}
.custom-file-download {
    border: none;
    padding: 0;
    background: none;
  
}

.rag-red {
    background-color: lightcoral;
}
.rag-green {
    background-color: lightgreen;
}
