
#externalgridform {
    display: none; 
    position: relative;
    width: 400px;
    overflow: hidden;
    border: 1px solid #CCC;
    font-family: sans-serif;
    font-size: 13px;
    background-color: #FFF;
    color: #333;    
    border-radius: 5px;
    padding: 45px 15px 15px 
 
}

#externalgridform:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "External grid data";
}
