<div id="externalgridform">
 
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
            <label>Name:</label>
            <input type="text" formControlName="name">
        </p>
        <p>
            <label>Type of node</label>
            <select formControlName="nodeType">
                <option *ngFor="let nodeType of nodeTypes" [value]="nodeType">{{nodeType}}</option>
            </select>
        </p>
        <p>
            <label>Voltage angle [deg]:</label>
            <input type="number" formControlName="voltageAngle">
        </p>
        <p>
            <label>Voltage setpoint [p.u.]</label>
            <input type="number" formControlName="voltageSetpoint">
        </p>
        <p>
            <label>Active power [MW]</label>
            <input type="number" formControlName="activePower">
        </p>
        <p>
            <label>Reactive power [MVar]</label>
            <input type="number" formControlName="reactivePower">
        </p>
        <p>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </p>
    </form>


</div>


<!--

<div [hidden]="submitted" id="externalgridform">
    <form (ngSubmit)="onSubmit()" #extGridForm="ngForm">
        <div class="form-group">
            <label for="nameExtGrid">Name</label>
            <input type="text" class="form-control" id="nameExtGrid"
             required
             [(ngModel)]="extgrid.name" name="name" #name="ngModel">

        </div>

        
        <div class="form-group">
            <label for="nodeType">Type of node</label>
            <select class="form-control" id="nodeType">
                <option>SL</option>
                <option>PV</option>
                <option>PQ</option>
            </select>
        </div>

        <div class="form-group">
            <label for="voltageAngle">Voltage angle [deg]</label>
            <input type="text" class="form-control" id="voltageAngle">
        </div>

        <div class="form-group">
            <label for="voltageSetpoint">Voltage setpoint [p.u.]</label>
            <input type="text" class="form-control" id="voltageSetpoint">
        </div>
        <div class="form-group">
            <label for="activePower">Active power [MW]</label>
            <input type="text" class="form-control" id="activePower">
        </div>
        <div class="form-group">
            <label for="reactivePower">Reactive power [MVar]</label>
            <input type="text" class="form-control" id="reactivePower">
        </div>
    

        
        <button type="button" class="btn btn-default" (click)="extGridForm.reset()">New Hero</button>
        
        <button type="button" class="btn btn-default" (click)="hideExtGridForm()">Close</button>
        
        <button type="button" class="btn btn-primary" (click)="saveExtGridForm($event)">Save</button>
    
   
    </form>
</div>

-->